* {
  padding: 0;
  margin: 0;
}

body {
  background: rgba(98, 205, 249, 0.99);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Roboto;
}

#wrapper {
  width: 330px;
}

.navigation h2 {
  color: #c0ebfd;
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all;
}

.navigation h2.active {
  color: #fff;
}

input {
  border: none;
  margin-bottom: 10px;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 300px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #d9d9d9
}

:-ms-input-placeholder {
  color: #d9d9d9
}

::-ms-input-placeholder {
  color: #d9d9d9
}

::placeholder {
  color: #d9d9d9
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 30px;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation h2 {
  cursor: pointer;
}

.nav-left h2 {
  margin-right: 15px;
}

form {
  position: relative;
}

.triangle {
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  width: 0;
  padding: 0;
  -webkit-transition: .2s transform cubic-bezier(0.21, 0.71, 0.56, 1.1);
  -o-transition: .2s transform cubic-bezier(0.21, 0.71, 0.56, 1.1);
  transition: .2s transform cubic-bezier(0.21, 0.71, 0.56, 1.1);
  border-bottom: 10px solid #fff;
  border-right: 10px solid #0000ff00;
  border-left: 10px solid #ffc0cb00;
}

.fake-button-wrapper {
  background: #099bcf;
  border-radius: 10px;
  max-height: 50px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: .2s ease background;
  -o-transition: .2s ease background;
  transition: .2s ease background;
}

.fake-button-wrapper:hover {
  background: #077ba5;
}

.fake-button h4 {
  height: 50px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}

#wrapper.sign-up input.repeat-pass {
  display: none;
}

#wrapper.sign-up .fake-button {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px)
}

.fake-button {
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all;
}

#wrapper.reset input.pass, #wrapper.reset input.repeat-pass {
  display: none;
}

#wrapper.reset .fake-button {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}