* {
  padding: 0;
  margin: 0;
}

body {
  background: rgba(98, 205, 249, 0.99);
  display: flex;
  padding-top: 150px;
  justify-content: center;
  min-height: 100vh;
  font-family: Roboto;
}

#wrapper {
  width: 330px;
}

.navigation h2 {
  color: #c0ebfd;
  transition: .2s ease all;
}

.navigation h2.active {
  color: white;
}

input {
  border: none;
  margin-bottom: 10px;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 300px;
  outline: none;
}

::placeholder {
  color: #d9d9d9
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 30px;
}

.nav_left {
  display: flex;
}

.navigation h2 {
  cursor: pointer;
}

.nav_left h2 {
  margin-right: 15px;
}

form {
  position: relative;
}

.triangle {
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateX(16px);
  width: 0;
  padding: 0;
  transition: .2s transform cubic-bezier(0.21, 0.71, 0.56, 1.1);
  border-bottom: 10px solid white;
  border-right: 10px solid #0000ff00;
  border-left: 10px solid #ffc0cb00;
}

.fake_button_wrapper {
  background: #099bcf;
  border-radius: 10px;
  max-height: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: .2s ease background;
}

.fake_button_wrapper:hover {
  background: #077ba5;
}

.fake_button h4 {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#wrapper.sign_up input.repeat_pass {
  display: none;
}

#wrapper.sign_up .fake_button {
  transform: translateY(-50px)
}

.fake_button {
  transition: .2s ease all;
}

#wrapper.reset input.pass, 
#wrapper.reset input.repeat_pass {
  display: none;
}

#wrapper.reset .fake_button {
  transform: translateY(-100px);
}