* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: linear-gradient(#f75b38, #f62a64)
}

.loader {
	position: relative;
	width: 200px;
	height: 200px;
	border: 4px solid white;
	border-radius: 50%;
	display: grid;
	grid-template-columns: 30px 30px;
	grid-template-rows: 30px 30px;
	grid-gap: 5px;
	align-content: center;
	justify-content: center;
}

.buble {
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 50%;
	transition: .1s all cubic-bezier(0.02, 0.24, 0.32, 1.02);
}

.buble1 {
	transition-delay: .1s;
	position: absolute;
	top: 120px;
	left: 68px;
}

/* The empty space */

.buble6 {
	transition-delay: .2s;
	position: absolute;
	top: 120px;
	left: 103px;
}

.buble2 {
	transition-delay: .2s;
	position: absolute;
	top: 85px;
	left: 68px;
}

.buble3 {
	transition-delay: .2s;
	position: absolute;
	top: 50px;
	left: 68px;
}

.buble4 {
	transition-delay: .2s;
	position: absolute;
	top: 50px;
	left: 103px;
}

.buble5 {
	transition-delay: .2s;
	position: absolute;
	top: 85px;
	left: 103px;
}