body {
	background: #303030;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.toggler {
	width: 200px;
	cursor: pointer;
}

.round {
	position: relative;
	width: 100px;
	height: 100px;
	border: 12px solid #303030;
	background: #7a7a7a;
	border-radius: 50%;
	z-index: 2;
	-webkit-transition: 0.3s cubic-bezier(0.09, 0.77, 0.83, 1.11) all;
	-o-transition: 0.3s cubic-bezier(0.09, 0.77, 0.83, 1.11) all;
	transition: 0.3s cubic-bezier(0.09, 0.77, 0.83, 1.11) all;
}

.round-inner {
	background-color: #303030;
	position: absolute;
	width: 74px;
	height: 74px;
	left: 13px;
	top: 13px;
	border-radius: 50%;
	-webkit-transition: 0.3s cubic-bezier(0.01, 0.64, 0.68, 1) all;
	-o-transition: 0.3s cubic-bezier(0.01, 0.64, 0.68, 1) all;
	transition: 0.3s cubic-bezier(0.01, 0.64, 0.68, 1) all;
}

.track {
	background-color: #454545;
	width: 200px;
	height: 15px;
	position: absolute;
	top: calc(50% - 7.5px);
	z-index: 1;
	border-radius: 10px;
}

.toggler.active .round-inner {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.toggler.active .round {
	background-color: #f7f7f7;
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
}