* {
	margin: 0;
	padding: 0;
}

body {
	background: #ececec;
}

#wrapper {
	color: #c9c9c9;
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

svg {
	fill: #c9c9c9;
	cursor: pointer;
	width: 60px;
}

svg.icon-up {
	margin-bottom: -20px;
}

svg.icon-down {
	margin-top: -20px;
}

svg:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2)
}

.votes-wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0;
	overflow: hidden;
}

.votes-wrapper span {
	font-size: 35px;
	font-family: sans-serif;
	display: inline-block;
}

.more-votes {
	position: absolute;
	top: -50px;
}

.less-votes {
	position: absolute;
	bottom: -50px;
}

.more-votes, .less-votes, .actual-votes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

span {
	-webkit-transition: .2s cubic-bezier(0, 0.04, 0.13, 1.43) all;
	-o-transition: .2s cubic-bezier(0, 0.04, 0.13, 1.43) all;
	transition: .2s cubic-bezier(0, 0.04, 0.13, 1.43) all;
}

span.transition-more {
	-webkit-transform: translateY(70px);
	-ms-transform: translateY(70px);
	transform: translateY(70px)
}

span.transition-less {
	-webkit-transform: translateY(-70px);
	-ms-transform: translateY(-70px);
	transform: translateY(-70px)
}

#wrapper.up .icon-up {
	-webkit-animation: make-green ease .3s forwards;
	animation: make-green ease .3s forwards
}

#wrapper.up {
	color: rgb(77, 187, 137)
}

#wrapper.down {
	color: rgb(237, 96, 94)
}

#wrapper.down .icon-down {
	-webkit-animation: make-red ease .3s forwards;
	animation: make-red ease .3s forwards
}

@-webkit-keyframes make-green {
	50% {
		color: #54bc8c;
		fill: #54bc8c;
		-webkit-transform: scale(1.4);
		transform: scale(1.4)
	}
	100% {
		color: #54bc8c;
		fill: #54bc8c;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes make-green {
	50% {
		color: #54bc8c;
		fill: #54bc8c;
		-webkit-transform: scale(1.4);
		transform: scale(1.4)
	}
	100% {
		color: #54bc8c;
		fill: #54bc8c;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@-webkit-keyframes make-red {
	50% {
		color: #ed605d;
		fill: #ed605d;
		-webkit-transform: scale(1.4);
		transform: scale(1.4)
	}
	100% {
		color: #ed605d;
		fill: #ed605d;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes make-red {
	50% {
		color: #ed605d;
		fill: #ed605d;
		-webkit-transform: scale(1.4);
		transform: scale(1.4)
	}
	100% {
		color: #ed605d;
		fill: #ed605d;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}